.top-25 {
    top: 25%;
}

.course-title-style {
    width: 32%;
}

.footerinfo .footer-text p {
    color: #afafaf;
}

.footerinfo span a {
    color: #afafaf;
}

.carousel-caption {
    width: 50%;
}

/* .mobile-view  */
@media only screen and (max-width: 767px) {
    .carousel-control-prev {
        display: none !important;
    }

    .carousel-control-next {
        display: none !important;
    }

    .carousel-item {
        height: 220px;
    }

    .carousel-item img {
        height: 100%;
    }

    .top-25 {
        top: 0;
        left: 0;
        right: 0;
    }

    .mb-5 {
        margin-bottom: 0 !important;
    }

    .carousel-caption {
        width: 85% !important;
        left: 0 !important;
        right: 0 !important;
    }

    .carousel-caption h1 {
        font-size: 7vw;
    }

    .carousel-caption p {
        font-size: 12px;
    }

    .course-title-style {
        width: 100%;
    }

    .trusted-company {
        display: none;
    }

    .joinmv {
        text-align: center;
    }

    .p-5 {
        padding: 1.5rem !important;
    }

}

/* tablet view  */

@media screen and (min-width: 768px) and (max-width:1023px) {
    .carousel-item {
        height: 360px;
    }

    .carousel-item img {
        height: 100%;
    }

    .top-25 {
        top: 0;
        left: 0;
        right: 0;
    }

    .w-50 {
        width: 85% !important;
        left: 0;
        right: 0;
    }

    .carousel-caption h1 {
        font-size: 5vw;
        padding-top: 100px;
    }

    .carousel-caption p {
        font-size: 12px;
    }

    .course-title-style {
        width: 100%;
    }

    .trusted-company {
        display: none;
    }
}


@media only screen and (min-width: 700px) and (max-width:1023px) {
    .display-3 {
        font-size: 12px;
    }
}


@media only screen and (min-width: 1024px) and (max-width:1280px) {
    .w-50 {
        width: 60% !important;
    }

}


@media only screen and (min-width: 1700px) {}